.header {
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.header-content {
  flex: 1; /* This makes the header content take up the remaining space */
  display: flex;
  align-items: center;
}