.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* Login page customization */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  border: 1px solid; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-username, .login-password {

  font-weight: bold;
  margin-right: 10px;
}

.username-section {
  margin-bottom: 30px;
}

.username-section {
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #6375e9, #1c80eb);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

}

button:hover {
  background: linear-gradient(to right,  #6375e9, #1c80eb  );
  box-shadow: 0 4px 8px rgba(0, 0, 0 , 0.2);
}